<h1>PTO Calculator</h1>
<p>
I have been employed for 
<select ng-model="input.years_employed">
	<option value="0">&lt; 1 year</option>
	<option value="4">1 - 5 years</option>
	<option value="9">5 - 10 years</option>
	<option value="14">10 - 15 years</option>
	<option value="24">15 - 25 years</option>
	<option value="25">25+ years</option>
</select>
</p>
<p>
I have <input ng-model="input.last_pto"> hours of PTO as of <input ng-model="input.last_update">
</p>
<hr/>
<p>
Your accrual rate is {{output.accrual_rate()|number:2}} hours every pay period.
</p>
<p>
You have {{output.current_pto_hours|number:2}} hours of PTO as of right now.
</p>
<p>
You have {{output.current_pto_seconds|number:2}} seconds of PTO as of right now.
</p>
<p>
You will exceed the maximum PTO carry over by {{output.use_or_lose|number:2}} hours at the end of the year.
</p>
<hr/>
<p>
How much PTO will I have on <input ng-model="input.pto_as_of">?
</p>
<p>
You will have {{output.future_pto()|number:2}} hours of PTO at the end of that day.
</p>
