<span layout="row" layout-sm="column">
	<md-whiteframe class="md-whiteframe-1dp md-padding" flex="33" layout="column">
		<h2>About Me</h2>
		<div layout layout-align="center center" layout-sm="column">
			<label flex>Length of Employment</label>
			<md-select ng-model="employee.yearsEmployed" ng-change="save()" aria-label="Length of Employment">
				<md-option ng-repeat="item in ptoAccrualMatrix" ng-value="item.yearsEmployed">{{item.label}}</md-option>
			</md-select>
		</div>
		<div layout layout-align="center center" layout-sm="column">
			<md-input-container flex>
				<label>Hours of PTO</label>

				<input ng-model="employee.lastPto" type="number" step="0.01" ng-change="save()">
			</md-input-container>
			<span>as of</span>
			<md-datepicker ng-model="employee.lastPtoUpdate" md-placeholder="Enter date" ng-change="save()"></md-datepicker>
		</div>
	</md-whiteframe>
	<span class="md-padding"></span>
	<md-whiteframe class="md-whiteframe-1dp md-padding" flex layout="column" ng-show="showPtoCalculations">
		<h2>My PTO</h2>
		<p>
			Your accrual rate is {{accrualRrate|number:2}} hours every pay period.
		</p>
		<p>
			You have {{currentPtoHours|number:2}} hours of PTO as of right now.
		</p>
		<p ng-repeat="item in useOrLose" class="useOrLose">
			You will exceed the maximum PTO carry over on {{item.date|date}} by {{item.amount|number:2}} hours.
		</p>
		<md-divider></md-divider>
		<p>
			How much PTO will I have on
			<md-datepicker ng-model="ptoAsOf" md-placeholder="date" ng-change="refreshFuturePto()" md-min-date="minDate"></md-datepicker>
		</p>
		<p ng-if="futurePto !== undefined">
			You will have {{futurePto|number:2}} hours of PTO at the start of that day.
		</p>
	</md-whiteframe>
</span>

