<span>
	<md-whiteframe class="md-whiteframe-1dp md-padding" flex="25" layout-align="center center" layout="column">
		<h1>PTO Calculator</h1>
		<p>
			I have been employed for
			<md-select ng-model="input.years_employed" ng-change="save()">
				<md-option ng-repeat="item in ptoAccrualMatrix" ng-value="item.up_to_years_employed">{{item.label}}</md-option>
			</md-select>
		</p>
		<p>
			<md-input-container>
				<label>Current PTO (in hours)</label>
				<input ng-model="input.last_pto" ng-change="save()">
			</md-input-container>
			<md-datepicker ng-model="input.last_update" md-placeholder="as of" ng-change="save()"></md-datepicker>
		</p>
		<hr/>
		<p>
			Your accrual rate is {{output.accrual_rate()|number:2}} hours every pay period.
		</p>
		<p>
			You have {{output.current_pto_hours|number:2}} hours of PTO as of right now.
		</p>
		<p>
			You have {{output.current_pto_seconds|number:2}} seconds of PTO as of right now.
		</p>
		<p>
			You will exceed the maximum PTO carry over by {{output.use_or_lose|number:2}} hours at the end of the year.
		</p>
		<hr/>
		<p>
			How much PTO will I have on
			<md-datepicker ng-model="input.pto_as_of" md-placeholder=""></md-datepicker>
		</p>
		<p>
			You will have {{output.future_pto()|number:2}} hours of PTO at the end of that day.
		</p>
	</md-whiteframe>
</span>

