<span layout="row">
	<md-whiteframe class="md-whiteframe-1dp md-padding" flex="25" layout="column">
		<h2>About Me</h2>
		<span>
			<label>Length of Employment</label>
			<md-select ng-model="yearsEmployed" ng-change="save()" aria-label="Length of Employment">
				<md-option ng-repeat="item in ptoAccrualMatrix" ng-value="item.up_to_years_employed">{{item.label}}</md-option>
			</md-select>
		</span>
		<span>
			As of
			<md-datepicker ng-model="lastPtoUpdate" md-placeholder="date" ng-change="save()"></md-datepicker>
		</span>
		<span>
			I have
			<md-input-container>
				<label>Hours of PTO</label>
				<input ng-model="lastPto" ng-change="save()">
			</md-input-container>
		</span>
		<hr/>
	</md-whiteframe>
	<span class="md-padding"></span>
	<md-whiteframe class="md-whiteframe-1dp md-padding" flex layout="column" ng-if="showPtoCalculations">
		<h2>My PTO</h2>
		<p>
			Your accrual rate is {{accrual_rate()|number:2}} hours every pay period.
		</p>
		<p>
			You have {{output.current_pto_hours|number:2}} hours of PTO as of right now.
		</p>
		<p>
			You have {{output.current_pto_seconds|number:2}} seconds of PTO as of right now.
		</p>
		<span ng-repeat="item in output.use_or_lose" class="useOrLose">
			You will exceed the maximum PTO carry over on {{item.date|date}} by {{item.amount|number:2}} hours.
		</span>
		<hr/>
		<p>
			How much PTO will I have on
			<md-datepicker ng-model="ptoAsOf" md-placeholder="Date" ng-change="updateFuturePto()"></md-datepicker>
		</p>
		<p ng-if="futurePto !== undefined">
			You will have {{futurePto|number:2}} hours of PTO at the end of that day.
		</p>
	</md-whiteframe>
</span>

